go 1.24.1

use (
	.
	bufbuild
	cassandra
	clickhouse
	docker
	duckdb
	empty
	executable
	fiber
	func
	googleaistudio
	hello
	gin
	meilisearch
	milvus
	mongo
	mono
	mssql
	mysql
	nats
	ollama
	postgres
	redis
	s3
	valkey
	qdrant
	zerolog
	entgo
)
