go 1.24.2

use (
	.
	bufbuild
	cassandra
	clickhouse
	docker
	duckdb
	empty
	entgo
	executable
	fiber
	func
	gin
	googleaistudio
	hello
	mcpserver
	meilisearch
	milvus
	mongo
	mono
	mssql
	mysql
	nats
	ollama
	postgres
	qdrant
	redis
	s3
	valkey
	vault
	zerolog
)
