go 1.23.0

use (
	.
	bufbuild
	cassandra
	clickhouse
	docker
	duckdb
	empty
	executable
	fiber
	func
	googleaistudio
	hello
	httpserver
	meilisearch
	milvus
	mongo
	mono
	mssql
	nats
	ollama
	postgres
	redis
	s3
	mysql
)
